<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368082364748-p3d4ed9c1co77fb821272tefd5fugdt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368082364748-p3d4ed9c1co77fb821272tefd5fugdt7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ-GSjKL-SDrvUwuGRudi5QbQMuBccnbI</string>
	<key>GCM_SENDER_ID</key>
	<string>368082364748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6df1e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6df1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368082364748:ios:b8cb5303e2733c3e3147e9</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-6df1e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>